<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1>Hello, {{ name }}!</h1>
    <p>Welcome to Haim Goldfisher's Flask project!</p>
    {% if has_access %}
        <img src="{{ img_url }}" alt="Haim Goldfisher" width="200">
    {% else %}
        <p>No credentials available to view this image.</p>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzWU_KuBbuwpSqWRqHm0EXkZeebvG7xrcfouSAbZg39A&s" alt="No credentials available Image" width="200">
    {% endif %}
</body>
</html>